configuration {
    show-icons: true;
    icon-theme: "Papirus";
    display-drun: "Applications";
    drun-display-format: "{name}";
}

* {
    background:     #141414f2;
    background-alt: #ffffff18;
    foreground:     #dcdcdc;
}

window {
    background-color: @background;
    border:            0px;
    border-radius:     14px;
    width:              650px;
    padding:            12px;
}

mainbox {
    background-color: transparent;
    border:             0px;
    children:           [ inputbar, listview ];
    spacing:            10px;
}

inputbar {
    background-color: @background-alt;
    text-color:        @foreground;
    border:             0px;
    border-radius:      8px;
    padding:             8px 12px;
    children:            [ entry ];
}

entry {
    text-color:   @foreground;
    placeholder:  "Search";
    placeholder-color: #888888;
    border:        0px;
}

listview {
    background-color: transparent;
    border:              0px;
    columns:              5;
    lines:                 3;
    spacing:               8px;
    fixed-height:          true;
    scrollbar:             false;
    layout:                vertical;
}

element {
    background-color: transparent;
    text-color:         @foreground;
    orientation:        vertical;
    border:              0px;
    border-radius:       8px;
    padding:              8px 4px;
}

element normal.normal, element alternate.normal {
    background-color: transparent;
    text-color:         @foreground;
}

element selected.normal {
    background-color: @background-alt;
    text-color:         @foreground;
}

element-icon {
    size:               36px;
    horizontal-align:   0.5;
}

element-text {
    horizontal-align:  0.5;
    text-color:         inherit;
    background-color:   transparent;
    padding:             4px 0px 0px 0px;
}
